@model IEnumerable<HotelSystem.Web.Areas.Booking.ViewModels.Available.ListRoomsViewModel>
@{
    ViewBag.Title = "List Available Rooms";
}

<div class="rooms text-center room-custom">
    <div class="container">
        <h3>@ViewBag.Title</h3>
        <div class="room-grids">
            @{ 
                foreach (var room in Model)
                {
                    <h4>@room.Room.RoomType</h4>
                    <h4>@room.Count</h4>
                }
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>


