<li>
    @Html.ActionLink("Users", "Index", "Users", new { area = "Administration" }, null)
</li>
<li>
    @Html.ActionLink("Hotels", "Index", "Hotels", new { area = "Administration" }, null)
</li>
<li>
    @Html.ActionLink("Rooms", "Index", "Rooms", new { area = "Administration" }, null)
</li>
<li>
    @Html.ActionLink("Bookings", "Index", "Bookings", new { area = "Administration" }, null)
</li>

