<div class="fotter-info">
    <div class="container">
        <div class="col-md-6 details">
            <div class="hotel-info">
                <h4>ABOUT THIS HOTEL</h4>
                <p>Suspendisse erat mi, tincidunt sit amet massa quis, commodo fermentum diam. Sed nec dui nec nunc tempor interdum.</p>
                <p>Ut vulputate augue urna, ut porta dolor imperdiet a. Vestibulum nec leo eu magna aliquam ornare.</p>
            </div>
            <div class="news">
                <h4>LATEST NEWS</h4>
                <h5>Grand Hotel Joins DeluxelHotels</h5>
                <a href="#">15 AUG</a>
                <h5>Happy Chirstmas To Everyone</h5>
                <a href="#">15 AUG</a>
                <h5>Best Places To Visit 2014</h5>
                <a href="#">15 AUG</a>
                <h5>Various Offers</h5>
                <a href="#">15 AUG</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 details">
            <div class="join">
                <h4>JOIN DELUXEHOTELS</h4>
                <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vestibulum blandit egestas.
                    Nam id lectus vel orci luctus consectetur eget id elit. In tortor odio, pellentesque eu arcu sit amet, lacinia euismod nisi. Aliquam sodales tristique mauris ac fermentum.
                    Donec vel varius ipsum. Pellentesque vitae mollis massa.
                </p>
                <p>There is no costs or whatsoever so sign up today!</p>
                <a href="#">READ MORE</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <h6>Template by mee</h6>
</div>

