@model HotelSystem.Web.Areas.Hotels.ViewModels.Details.HotelRoomViewModel

<img class="custom-img" src="../../../@Model.Images.FirstOrDefault()" alt="" />
<h4>@Html.DisplayFor(m => m.RoomType)</h4>
<p>@Model.Description</p>
<ul class="items">
    @if (Model.AirConditioning)
    {
        <li><a href="#"><span class="img1"> </span></a></li>
    }
    @if (Model.HairDryer)
    {
        <li><a href="#"><span class="img2"> </span></a></li>
    }

    @if (Model.Iron)
    {
        <li><a href="#"><span class="img3"> </span></a></li>
    }
    @if (Model.TV)
    {
        <li><a href="#"><span class="img4"> </span></a></li>
    }
    @if (Model.FreeWiFi)
    {
        <li><a href="#"><span class="img5"> </span></a></li>
    }
</ul>



