
@{
    ViewBag.Title = "About";
}


<div class="package text-center">
    <div class="container">
        <h3>What About us?</h3>
        <p>Welcome to Fortune hotels, our rooms, affordable luxury, boutique hotel. Everything that our guests have come to know and love about us over the many years remains the same. We are still a 4 star hotel with no hidden extras, where the price you pay at check-out is what you thought you'd pay at check-in.<p>
        
        <p>The Nadler Kensington also continues to provide free Wi-Fi, 24-hour Reception & Concierge service, air-conditioning and a mini-kitchen in every room, with a larger, interior designed reception and redecorated rooms and bathrooms.</p>
        
        <p>The Nadler Kensington, with its transparent pricing policy, has been created for today's value and design conscious hotel guests. By editing out unnecessary extras and by taking the best from boutique and budget hotels as well as serviced apartments, The Nadler Kensington is the ideal choice for business and leisure guests looking for a London hotel offering convenience, flexibility and affordable luxury.</p>
    </div>
</div>
<div class="main_bg">
    <div class="container">
        <div class="main">
            <ul class="service_list">
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="details.html"><h3>Wifi-Internet</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic2.jpg" alt="" />
                        </a>
                    </div>
                    <a href="details.html"><h3>Airy lobby pool</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic3.jpg" alt="" />
                        </a>
                    </div>
                    <a href="details.html"><h3>Laundry</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic4.jpg" alt="" />
                        </a>
                    </div>
                    <a href="details.html"><h3>Spa</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                </li>
            </ul>
            <div class="clear"></div>

            <ul class="service_list top">
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic5.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="details.html"><h3>Best Cooking</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                    <h4><a href="details.html">Lorem ipsum</a></h4>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic6.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="details.html"><h3>Swim-up bar</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                    <h4><a href="details.html">Nulla accumsan</a></h4>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic7.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="details.html"><h3>Services</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                    <h4><a href="details.html">Vestilum feliing</a></h4>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="details.html">
                            <img src="../../Images/ser_pic8.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="details.html"><h3>Special Dishes</h3></a>
                    <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
                    <h4><a href="details.html">Lorem ipsum</a></h4>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

