@{
    ViewBag.Title = "Home";
}

<div class="package text-center">
    <div class="container">
        <h3>Book A Hotel</h3>
        <p>
            This are our hotels, have a look for more information and than book a room.
            You can make a present for your family, your partner and for yourself of course.
            It is our moto to make all of the guests happy. We will try to satisfy evry expectation.
        </p>
        <div id="owl-demo" class="owl-carousel">
            <div class="item text-center image-grid">
                <ul>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-NewYork-Tower/1.jpg" alt="Liberty Statue"></a></li>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-NewYork-Tower/Main/NewYork-Tower.jpg" alt="New York Hotel"></a></li>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-NewYork-Tower/Rooms/GrandeSuite.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="item text-center image-grid">
                <ul>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-Paris/Main/Hotel-Paris.jpg" alt=""></a></li>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-Paris/AifelTower.jpg" alt=""></a></li>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-Paris/Rooms/JuniorSuite.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="item text-center image-grid">
                <ul>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-Residence-Varna/Main/Residence-Varna.jpg" alt=""></a></li>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-Residence-Varna/lobby.jpg" alt=""></a></li>
                    <li><a href="/Hotels/All"><img src="../../Images/Hotel-Residence-Varna/Rooms/SuperiorSuite.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---->
<!---->

<!---->
@section Fotter{
    <div class="fotter">
        <div class="container">
            <h3>50 City Located Hotels World Wide</h3>
            <h4>"Hospitality, Quality & Good Locations. We only provide you with the best hotels" - Alan Pichman</h4>
            <i class="man"></i>
        </div>
    </div>
}
<!---->
@section scripts{
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });

        (function () {
            JC.init({
                domainKey: ''
            });
        })();

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: false,
                pagination: false,
            });
        });
    </script>
}
